/* Basic theming */

body {
  font-family: 'VT323', monospace;
  color: #808080;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Press Start 2P', cursive !important;
}

.gangsta-button,
.gangsta-button:active,
.gangsta-button:focus {
  box-shadow: none !important;
  border: 3px solid #47d147 !important;
  background: white !important;
  color: #47d147;
  border-radius: 0;
}

.gangsta-button:hover {
  border: 3px solid white !important;
  background: #47d147 !important;
  color: white;
  border-radius: 0;
}

.gangsta-button:focus {
  outline: none !important;
}

.gangsta-text {
  font-family: 'Press Start 2P', cursive !important;
  color: #47d147 !important;
}

.gangsta-link {
  color: #47d147;
}

.gangsta-link:hover {
  color: #47d147;
}
